BUYERS_EMAIL=ibrahimchaudhary422@gmail.com
BUYERS_PASSWORD=chaudhary422@gmail.com
BUYERS_LOGIN_URL=https://skinnovationsllc.8020rei.com/session/login
BUYERS_URL=https://skinnovationsllc.8020rei.com/buyers
HEADLESS=false
ACTION_TIMEOUT_MS=60000
REQUIRED_COLUMNS=Name,Mailing address,Mailing city,Zip Code,State
